.card {
    max-width: 300px;
    margin: 2rem auto;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #000;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;

}

.intro {
    margin: 1rem 0;
}

.skill-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

